artifacts_root: artifacts

data_ingestion:
  root_dir: artifacts/data_ingestion
  source_URL: https://github.com/Singhsansar/Text-Summerization-/raw/main/BCC_dataset.zip
  local_data_file: artifacts/data_ingestion/data.zip
  unzip_dir: artifacts/data_ingestion


data_validation:
  root_dir: artifacts/data_validation 
  STATUS_FILE: artifacts/data_validation/status.txt
  ALL_REQUIRED_FILES: ["train","test","validation"]

data_transformation: 
  root_dir: artifacts/data_transformtaion
  data_path_train: artifacts/data_ingestion/Textsummarizer_BCC_dataset/train/train.csv
  data_path_test: artifacts/data_ingestion/Textsummarizer_BCC_dataset/test/test.csv
  data_path_validation: artifacts/data_ingestion/Textsummarizer_BCC_dataset/validation/validation.csv
  tokenizer_name: google/pegasus-cnn_dailymail 

model_trainer: 
  root_dir: artifacts/model_trainer
  data_path: artifacts/data_tranformation/summarizer_dataset
  model_ckpt: google/pegasus-cnn_dailymail 

model_evaluation: 
  root_dir: artifacts/model_evaluation
  data_path: artifacts/data_trasformation/summarizer_dataset
  model_path: artifacts/model_trainer/tokenizer
  tokenizer_path: artifacts/model_trainer/tokenizer
  metric_file_name: artifacts/model_evaluation/metrics.csv